<h1 class='title' id='account-margins'>Account Page</h1>
<div class='columns is-centered'>
  <div class='column is-half'>
    <div class='card-image'>
      <figure class='image is-3by4'>
        <img
          id='account-margins'
          src='images/by-the-coast.jpg'
          alt='Seascape Oil Painting'
        />
      </figure>
    </div>
    <h2 class='title' id='account-margins-3'>Listing</h2>
    <div class='content' id='account-margins-2'>
      {{#each socialPost}}
        <h3>{{post_title}}</h3>
         <figure class='image is-3by4'>
        <img
          id='account-margins'
          src='{{post_img}}'
          alt='Seascape Oil Painting'
        />
      </figure>
        <h4>${{post_price}}</h4>
        <h4>{{post_medium}}</h4>
        <h4>{{post_size}}</h4>
        <h4>{{post_year}}</h4>
      {{/each}}
    </div>
  </div>
</div>